{% extends 'base.html' %}

{% block news %}
    <h1>{{ news.title }}</h1>
    <div class="card float-start me-3 mb-3" style="width: 18rem;">
        {% if news.image %}
            <img src="{{ news.image.url }}" class="card-img-top" alt="{{ new.title }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <p class="card-text">{{ news.body|truncatewords:10 }}</p>
        </div>
        <div class="card-footer text-muted">{{ news.created_at|date:'Y-m-d H:i' }}</div>
    </div>
{% endblock %}
