{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <title>{% block title %}ew project{% endblock %}</title>
</head>
<body>

{% include 'inc/_nav.html' %}

<div class="container mt-4">

    {% block content %}{% endblock %}

</div>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>